<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cropitagro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <application
        android:name=".tools.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CropItAgro"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".activities.JowarActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RagiActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TomatoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BananaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MangoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TeaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CoffeeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FruitActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FodderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GramActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WheatActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CottonActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RiceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SoilActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SouthActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WestActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EastActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NorthActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegionActivity"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".activities.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MessagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ShopListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProductListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PdfViewerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBBjFqI2YjXdIO9bHaitNdkr_rZHmGzdjQ" />
    </application>

</manifest>